<div th:fragment="header">
    <header class="app-header">
        <div class="container">
            <div class="brand">
                <a th:href="@{/dashboard}">ASTA Dashboard</a>
            </div>
            <nav class="main-nav">
                <a th:href="@{/dashboard}">Tableau de bord</a>
                <a th:href="@{/apprentis/create}">Nouveau apprenti</a>
                <a th:href="@{/entreprises}">Entreprises</a>
                <a th:href="@{/visites}">Visites</a>
            </nav>
        </div>
    </header>
</div>

